<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>BusinessCardManagement</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<description>Location to store uploaded file in windows</description>
  	<param-name>file-upload-windows</param-name>
  	<param-value>C:\Users\blacksw\Desktop\eclipse-workspace\client-test2\.metadata\.plugins\org.eclipse.wst.server.core\tmp0\wtpwebapps\BusinessCardManagement\upload</param-value>
  </context-param>
  
  <context-param>
  	<description>Location to store uploaded file in ubuntu</description>
  	<param-name>file-upload-ubuntu</param-name>
  	<param-value>/var/webapps/upload/</param-value>
  </context-param>
  
  <error-page>
  	<error-code>400</error-code>
  	<location>/error.jsp</location>
  </error-page>
  <error-page>
  	<error-code>403</error-code>
  	<location>/error.jsp</location>
  </error-page>
  <error-page>
  	<error-code>404</error-code>
  	<location>/error.jsp</location>
  </error-page>
  <error-page>
  	<error-code>405</error-code>
  	<location>/error.jsp</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/error.jsp</location>
  </error-page>
  <error-page>
  	<error-code>503</error-code>
  	<location>/error.jsp</location>
  </error-page>
  
</web-app>